[submodule "lib/configdict"]
	path = lib/configdict
	url = http://github.com/larsks/configdict.git
[submodule "lib/vim-git"]
	path = lib/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "lib/vcprompt"]
	path = lib/vcprompt
	url = https://github.com/xvzf/vcprompt.git
