[submodule "lib/vim-git"]
	path = lib/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "lib/vcprompt"]
	path = lib/vcprompt
	url = https://github.com/djl/vcprompt.git
[submodule "lib/bash-it"]
	path = lib/bash-it
	url = https://github.com/revans/bash-it.git
[submodule "emacs/xemacs-packages/lisp/go-mode"]
	path = emacs/xemacs-packages/lisp/go-mode
	url = http://github.com/dominikh/go-mode.el.git
