[submodule "lib/vim-git"]
	path = lib/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "emacs/xemacs-packages/lisp/go-mode"]
	path = emacs/xemacs-packages/lisp/go-mode
	url = http://github.com/dominikh/go-mode.el.git
