[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
OnFailure=status-email-jschewe@%n.service

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
# Eventually use %l, but need a systemd newer than 245
Environment=SSH_AUTH_SOCK=%h/.ssh/agents/%H
#Environment=SSH_AUTH_SOCK=%h/.ssh/agents/%l
Restart=on-failure

[Install]
WantedBy=default.target
