[Unit]
Description=Start top in tmux
OnFailure=status-email-jschewe@%n.service
PartOf=tmux-main.service
After=tmux-main.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/bin/start-tmux-top.sh
ExecStop=/usr/bin/tmux kill-session -t top

[Install]
WantedBy=default.target
